// Proměnné - písmo
$font-headline: Serif;
$font-paragraf:Arial;

//// Proměnné - velikost písma
$fsize-headline: 18px;

// Proměnné - barvy
$fialova: rgb(101, 27, 71);
$color-light: #ececec;
$color-shadow: #d2d2d2;
$color-headline:#000000;
$color-grey-cenik: #0000001a;