
// Proměnné - písmo
$font-headline: Serif;
$font-paragraf:Arial;

//// Proměnné - velikost písma
$fsize-headline: 18px;

// Proměnné - barvy
$fialova: rgb(101, 27, 71);
$color-light: #ececec;
$color-shadow: #d2d2d2;
$color-headline:#000000;
$color-grey-cenik: #0000001a;

html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin:0;
    background-color: $color-light;

  }
/**********************************ŠÍŘKA BOXU 450PX - MOBIL***********************************************************/
.conteiner {
    width: 450px;
    margin: 0 auto;
}
/************************************************************************************************************************
                                              === ŠABLONA ===
/************************************************************************************************************************/
.header_up-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
}

.header_logo-salon {
    width: 90px;
    height: 30px;
    margin: 10px 0 0 10px;
}

.logo_fb,
.logo_inst,
.logo_mail {
    width: 30px;
    height: 30px;
    margin: 10px 0px 0 8px;
}

.logo_social-sites {
    margin-right: 10px;
}
/****************===HEADER NAVIGATION===***********/
.header_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $fialova;
    height: 35px;
}
.nav_item {
    padding: 5px 15px;
    color: $color-light;   
    text-decoration: none;
    font-size: 15px;
}

.nav_item:hover,
.nav_item:active {
    background-color: $color-headline;
    text-decoration: none;
    padding: 5px 15px;
}

/*************===HEADER IMAGE===**************/
.header_img-hair{
    max-width:450px;
}

/*************===FOOTER - SECTION VIOLET===*************/
.footer_violet-section {
    display: flex;
    justify-content: space-around;
    background-color: $fialova;
    color:$color-light;
    padding-bottom: 10px;
}
.footer_adress_headline {
    font-size: 12px;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 15px 0 8px 0;
}
.footer-item {
    font-size: 10px;
    line-height: 1.6;
    margin:0;
}
/**************===FOOTER - BLACK SECTION===**************/
.footer_black-section {
    background-color: black;
    padding:10px 0px;
    text-align: center;
    color:$color-light;
    font-size: 10px;
}

/******************************************************************************************************************
                                      === COMMON ITEMS FOR ALL HTMLS ===
******************************************************************************************************************/

/******===SECTIONS COMMON SETTINGS===*********/

.sections_headline {
    font-size: 15px;
    font-family: "Montserrat", Arial;
    text-align: center;
    text-decoration: underline;
    color:$fialova;
    margin:0;
}

.section-box{
    padding: 10px 30px;
 }

 .section_paragraf {
    font-size: 12px;
    margin-bottom: 30px;
 }

/******************************************************************************************************************************
                                                   === HOME PAGE ORDER===
/******************************************************************************************************************************/
.home-page_order {
    text-align: center;
    padding-top: 20px;
    margin: 0;
}
.home-page_order::after{
    content:"";
    display: block;
    width: 450px;
    height: 1px;
    background-color:$fialova;
    margin: 30px 0;
}

.home-page_order-headline{
    font-size: 12px;
    margin:0;
}

.home-page_order_paragraf {
    font-size: 14px;
    color:$fialova;
    font-weight: bold;
}

/****************HOME PAGE - SERVICES IMAGES**********************/
.home-page_services_gallery {
    display: grid;
    grid-template-columns: 49% 49%;
    margin: 20px 0 10px 0;
    gap:5px;
}
.home-page_services_bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
.home-page_services_bg-image-1 {
    background-image: url(/images/sluzby/myti_strih.jpg);
}
.home-page_services_bg-image-2 {
    background-image: url(/images/sluzby/barveni_1.jpg);
}
.home-page_services_bg-image-3 {
    background-image: url(/images/sluzby/poskozene_vlasy.jpg);
}
.home-page_services_bg-image-4 {
    background-image: url(/images/sluzby/ucesy_1.jpg);
}
.home-page_services_bg-image-5 {
    background-image: url(/images/sluzby/prodluzovani.jpg);
}
.home-page_services_paragraf{
    position: relative;
    font-size: 12px;
    font-weight: bold;
    color: $color-light;
    background-color: $fialova;
    padding: 3px 6px;
    margin: 110px 0 0 0;
}
/************************************************************************************************************* 
                                        ===SECTION ABOUT ME ===
 ************************************************************************************************************/
.o_mne-paragraf {
    text-align: justify;
}
.o_mne-paragraf-welcome {
    text-align: center;
}
/***************************************************************************************************************
                                            ===SECTION SERVICES===
****************************************************************************************************************/
.services_images_flex {
    display: flex;
    flex-wrap: wrap;
    width:400px;
    margin:0 auto;
}
.services_description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 50%;
    box-shadow: 1px 1px 10px 1px $color-shadow;
    margin-bottom: 10px;
    padding:10px;
}
.services_image {
    width:180px;
    height: 130px;
}
.services_description-headline {
    font-size: 14px;
    margin:10px 0;
    text-align: center;
    text-decoration: underline;
}
.services_description-paragraph {
    font-size: 12px;
    margin:0 0 10px 0;
    padding: 0 5px;
    text-align: center;
}
/********************************************************************************************************************
                                         ===SECTION PRICELIST===
*********************************************************************************************************************/
.cenik-box {
    padding: 10px 30px;
    box-shadow:  0 .5rem 1.5625rem $color-grey-cenik;
    margin: 15px 0;
}
.cenik_flex {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-grey-cenik;
 }
.cenik_type-of-service {
    color:$fialova;
    border-bottom: 1px solid $color-grey-cenik;
    font-weight: bold;
    margin: 15px 0 10px 0;
    padding-bottom: 2px;
}
.cenik_type-of-hair-price {
    margin:5px 0;
}


/***************************************************************************************************************
                                            ===SECTION GALERRY===
****************************************************************************************************************/
.gallery-headline {
    background-color: $fialova;
    color:$color-light;
    padding:0;
    text-align: center;
    font-size: 15px;
}

.gallery_hair-salon,
.gallery_my-work {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
}
.gallery_img {
    width: 100px;
    margin: 0 auto;
}
.gallery_my-work {
    height: 260px;
    margin-bottom: 15px;
}
/****************************************************************************************************************
                                             ===SECTION CONTACT===
*****************************************************************************************************************/
.contact-flex {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-around;
    margin: 25px 0;
}
.contact_adress-phone {
    margin:0;
    font-size: 12px;
}
.contact_headline-adress-phone {
    text-decoration: underline;
    margin-bottom: 10px;
}

/***************************************************************************************************************
                                            ===MEDIA QUERY===
****************************************************************************************************************/


/****************************************************WIDTH MIN 768px*****************************************/
@media screen and (min-width:768px){
    .conteiner {
        width: 768px;
    }
    /****************===HEADER FB, INST, MAIL===***********/
    .logo_fb,
    .logo_inst,
    .logo_mail {
    width: 25px;
    height: 25px;
    margin: 10px 0px 0 8px;
    }
    /*******************===HEADER NAVIGATION===**************/
    .header_navigation {
        justify-content:right;
    }
    .nav_item {
        font-size: 16px;
    }
    /********************===HEADER IMAGE===*********************/
    .header_img-hair{
    max-width:768px;
    }
    /*************===COMMON ITEMS FOR ALL SECTIONS===**************/
    .sections_headline {
        font-size: 16px;
    }
    /*********************===HOME PAGE ORDER===**********************/
    .home-page_order-headline{
        font-size: 14px;
    }
    .home-page_order_paragraf {
        font-size: 16px;
    }
    .home-page_order::after{
        width: 768px;
    }
    /*************HOME PAGE - SERVICES IMAGES*******************/
    .home-page_services_gallery {
        grid-template-columns: 33% 33% 33%;
        gap: 3px;
    }
    /****************===SECTION SERVICES===**********************/
    .services_images_flex {
        width:760px;
    }
    .services_description-box {
        flex: 0 0 33.3%;
    }
    /****************===PRICELIST===**********************/
    .cenik-box {
        margin: 15px auto;
        width: 500px;
    }
    /****************===GALLERY===**********************/
    .gallery-headline {
        font-size: 16px;
    }
    .gallery_hair-salon,
    .gallery_my-work {
        grid-template-columns: 25% 25% 25% 25%;
    }
    .gallery_img {
        width: 150px;
    }
       /****************===GALLERY===**********************/
    .map {
        display: block;
        margin:0 auto;
        width:510px;
    }
}
/****************************************************WIDTH MIN 960px*****************************************/
@media screen and (min-width:960px) {
    .conteiner {
        width: 960px;
    }
    /********************===HEADER IMAGE===*********************/
     .header_img-hair{
        max-width:960px;
    }
    /********************===HOME PAGE===*********************/
    .home-page_order::after{
        width: 960px;
    }
    .home-page_services_gallery {
        width:800px;
        margin:25px auto;
    }
    .section_o-mne {
        margin:0 auto;
        width: 750px;
    }
   /********************===HOME PAGE===*********************/
    .contact-flex {
        justify-content: space-around;
        width:700px;
        margin:25px auto;
    }
    /********************===HOME PAGE===*********************/
    .cenik-box {
        width: 700px;
    }
    /****************===GALLERY===**********************/
    .map {
        width:700px;
    }
}