<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# DATA PRO SOCIÁLNÍ SÍTĚ #}
    <meta property="og:title" content="Kadeřnictví Renata">
	<meta property="og:description" content="Sebevědomá žena musí zářit.">
	<meta property="og:type" content="Kadeřnictví">
	<meta property="og:image" content="https://kadernictvi-renata.netlify.app/images/header/header_img_opengraph.jpg">
	<meta property="og:url" content="https://kadernictvi-renata.netlify.app/">
	<meta property="og:locale" content="cs_CZ">
    {# DATA PRO SOCIÁLNÍ SÍTĚ - KONEC #}

    {# FAVICON #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="conteiner">
        <header>

            <div class="header_up-line">
                <div>  
                    <a href="/" alt="Home page"><img class="header_logo-salon" src="/images/header/logo_salonu.png" alt="Logo salonu"></a> 
                </div>

                <div class="logo_social-sites">
                    <a href="https://www.facebook.com/"><img class="logo_fb" src="/images/header/logo_fb.png" alt="Logo Facebook"></a>
                    <a href="https://www.instagram.com/"><img class="logo_inst" src="/images/header/logo_insta.png" alt="Logo Instagram"></a>
                </div>
            </div>

            <nav class="header_navigation">
                <div class=header_navigation_left-side>
                    <a nav_item href="/" alt="Home page"><img class="header_house-icon" src="/images/header/house-icon.png" alt="Logo salonu"></a> 
                </div>
                <div class="header_navigation_right-side">
                <a href="/o_mne/" class="nav_item">O mně</a>
                <a href="/sluzby/" class="nav_item">Služby</a>
                <a href="/cenik/" class="nav_item">Ceník</a>
                <a href="/fotogalerie/" class="nav_item">Fotogalerie</a>
                <a href="/kontakt/" class="nav_item">Kontakt</a>
                <a href="#"><img class="hamburger-menu" src="../images/header/hamburgerMenu.png"></a>
                </div>
            </nav>

            <img  class="header_img-hair" src="/images/header/header_img_mensi.jpg" alt="zdroj:pixabay.com, Engin_Akyurt">

        </header>

        <main>

            {{content | safe}}

         </main>

        <footer>

    {% if hideFooter != true %}

            <section class="footer_violet-section">
                <div class="footer_adress">
                    <p class="footer_adress_headline">Kde mě najdete</p>
                    <p class="footer-item">Vlasové studio RENATA</p>
                    <p class="footer-item">Dlouhý vlas 230</p>
                    <p class="footer-item">Křižánky 563 93</p>
                </div>

                <div class="footer_time-of-ordering">
                    <p class="footer_adress_headline">Otevírací doba, telefon</p>
                    <p class="footer-item">Po - Pá 9:00-18:00</p>
                    <p class="footer-item">Čas objednání dle dohody</p>
                    <p class="footer-item">tel. 736 662 113</p>
                </div>
            </section>
    {% endif %}


            <section class="footer_black-section">
                <p class="footer-item">©2023, Barbora Maťátková</p>
            </section>

        </footer>
    </div>

<script src="/js/fslightbox.js"></script>

</body>
</html>     