@use 'variables' as *;

/*****************************************************************
                  ===SECTION ARTICLE===
****************************************************************/

.article{
    margin: 0 20px;
}

.article__title {
    color: $fialova;
    margin-bottom: 5px;
}

.article__date {
    margin:0 0 15px 0;
    font-size: 12px;
}
.article__image {
    width:150px;
}

