@use 'variables' as *;


html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin:0;
    background-color: $color-light;

  }
/**********************************ŠÍŘKA BOXU 450PX - MOBIL***********************************************************/
.conteiner {
    width: 450px;
    margin: 0 auto;

    @media screen and (min-width:768px){
        width: 768px;
    }

    @media screen and (min-width:960px) {
        width: 960px;
    }
}
