@use 'variables' as *;

/***************************************************************************************************************
                                        ===SECTION SERVICES===
****************************************************************************************************************/
.services_images_flex {
    display: flex;
    flex-wrap: wrap;
    width:440px;
    margin:0px auto 20px auto;
    gap: 5px 0px;

    @media screen and (min-width:768px){
        width:760px;
    }

    @media screen and (min-width:960px){
        width:900px;
    }
}
.services_description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 47%;
    box-shadow: 1px 1px 10px 1px $color-shadow;
    margin:20px 5px 10px 5px;
    padding: 10px 15px;

    @media screen and (min-width:768px) {
        flex: 0 0 32%;
        padding: 10px 20px;
    }
}
.services_image {
    width:180px;
    height: 130px;
}
.services_description-headline {
    font-size: 14px;
    margin:10px 0;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;

    @media screen and (min-width:960px){
        font-size: 16px;
    }
}
.services_description-paragraph {
    font-size: 12px;
    margin:0 0 10px 0;
    padding: 0 5px;
    text-align: center;

    @media screen and (min-width:960px){
        font-size: 14px;
    }
}
