<footer>

    {% if hideFooter != true %}

            <section class="footer_violet-section">
                <div class="footer_adress">
                    <p class="footer_adress_headline">Kde mě najdete</p>
                    <p class="footer-item">Vlasové studio RENATA</p>
                    <p class="footer-item">Dlouhý vlas 230</p>
                    <p class="footer-item">Křižánky 563 93</p>
                </div>

                <div class="footer_time-of-ordering">
                    <p class="footer_adress_headline">Otevírací doba, telefon</p>
                    <p class="footer-item">Po - Pá 9:00-18:00</p>
                    <p class="footer-item">Čas objednání dle dohody</p>
                    <p class="footer-item">tel. 736 662 113</p>
                </div>
            </section>
    {% endif %}


            <section class="footer_black-section">
                <p class="footer-item">©2023, Barbora Maťátková</p>
            </section>

</footer>