<header>

    <div class="header_up-line">
        <div>  
            <a href="/" alt="Home page"><img class="header_logo-salon" src="/images/header/logo_salonu.png" alt="Logo salonu"></a> 
        </div>

        <div class="logo_social-sites">
            <a href="https://www.facebook.com/"><img class="logo_fb" src="/images/header/logo_fb.png" alt="Logo Facebook"></a>
            <a href="https://www.instagram.com/"><img class="logo_inst" src="/images/header/logo_insta.png" alt="Logo Instagram"></a>
        </div>
    </div>
</header>