<header>

    <div class="header_box">   
        <nav class="header_navigation">
            <div class="header_navigation_left-side">
                <a nav_item href="/" alt="Home page"><img class="header_house-icon" src="/images/header/house-icon.png" alt="Logo salonu"></a> 
            </div>

            <div class="header_navigation_right-side">
                <div class="header_navigation_menu">
                    <a href="/o_mne/" class="nav_item">O mně</a>
                    <a href="/sluzby/" class="nav_item">Služby</a>
                    <a href="/cenik/" class="nav_item">Ceník</a>
                    <a href="/fotogalerie/" class="nav_item">Fotogalerie</a>
                    <a href="/kontakt/" class="nav_item">Kontakt</a>
                    <a href="/blog/" class="nav_item">Blog</a>
                </div>
                <a href="#"><img class="hamburger-menu" src="../images/header/hamburgerMenu.png"></a>
            </div>
        </nav>


        <div class="header_img_box">
            <p class="header_img_box-description header_img_box-description_salon">Salon</p>
            <p class="header_img_box-description header_img_box-description_name">RENATA</p>

            <p class="header_img_box-description header_img_box-description_slogan">"Sebevědomá žena musí zářit"</p>
        </div>
    </div>

        
</header>