
<nav class="header_navigation">
    <div class="header_navigation_left-side">
        <a nav_item href="/" alt="Home page"><img class="header_house-icon" src="/images/header/house-icon.png" alt="Logo salonu"></a> 
    </div>
    <div class="header_navigation_right-side">
    <a href="/o_mne/" class="nav_item">O mně</a>
    <a href="/sluzby/" class="nav_item">Služby</a>
    <a href="/cenik/" class="nav_item">Ceník</a>
    <a href="/fotogalerie/" class="nav_item">Fotogalerie</a>
    <a href="/kontakt/" class="nav_item">Kontakt</a>
    <a href="/blog/" class="nav_item">Blog</a>
    <a href="#"><img class="hamburger-menu" src="../images/header/hamburgerMenu.png"></a>
    </div>
</nav>

<img  class="header_img-hair" src="/images/header/header_img_mensi.jpg" alt="zdroj:pixabay.com, Engin_Akyurt">